<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.dcastalia.hecontent.utils"
      version="0.1.0">
    <name>Hashcreator</name>
    <description>Phonegap Hashcreator Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,hashcreator</keywords>
 
 
    <js-module src="www/hashcreator.js" name="Hashcreator">
        <clobbers target="window.hashcreator" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Hashcreator">
                <param name="android-package" value="com.dcastalia.hecontent.utils.BMSHAHashing"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/Downloader.java" target-dir="src/com/dcastalia/hecontent/utils" />      
     </platform>          
</plugin>